$brand-primary:         #2C3E50 !default;
$brand-success:         #18BC9C !default;
$brand-info:            #3498DB !default;
$brand-warning:         #F39C12 !default;
$brand-danger:          #E74C3C !default;